# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

notebooks/00_Intro/out.png
notebooks/00_Intro/sequence.index


notebooks/01_NGS/ag1000g.AC.phase1.AR1.vcf.gz.tbi
notebooks/01_NGS/centro.vcf.gz
notebooks/01_NGS/centro.vcf.gz.tbi
notebooks/01_NGS/standard.vcf.gz
notebooks/01_NGS/standard.vcf.gz.tbi
notebooks/01_NGS/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5_extra_anno.20130502.genotypes.vcf.gz.tbi
notebooks/01_NGS/NA18489.chrom20.ILLUMINA.bwa.YRI.exome.20121211.bam
notebooks/01_NGS/NA18489.chrom20.ILLUMINA.bwa.YRI.exome.20121211.bam.bai
notebooks/01_NGS/SRR003265.filt.fastq.gz
notebooks/01_NGS/SRR003265_1.filt.fastq.gz
notebooks/01_NGS/SRR003265_2.filt.fastq.gz
notebooks/01_NGS/example.fasta
notebooks/01_NGS/genotypes.vcf.gz
notebooks/01_NGS/genotypes.vcf.gz.tbi


notebooks/02_Genomes/PlasmoDB-9.3_Pfalciparum3D7_Genome.fasta
notebooks/02_Genomes/falciparum.png
notebooks/02_Genomes/ag.db
notebooks/02_Genomes/graph.png
notebooks/02_Genomes/atroparvus.fa.gz
notebooks/02_Genomes/gambiae.fa.gz
notebooks/02_Genomes/gambiae.gff.gz

notebooks/03_PopGen/exclude1.txt
notebooks/03_PopGen/exclude10.txt
notebooks/03_PopGen/hapmap1.hh
notebooks/03_PopGen/hapmap1.map
notebooks/03_PopGen/hapmap1.ped
notebooks/03_PopGen/hapmap10.hh
notebooks/03_PopGen/hapmap10.map
notebooks/03_PopGen/hapmap10.ped
notebooks/03_PopGen/hapmap10_auto.map
notebooks/03_PopGen/hapmap10_auto.ped
notebooks/03_PopGen/hapmap10_auto_noofs.map
notebooks/03_PopGen/hapmap10_auto_noofs.ped
notebooks/03_PopGen/hapmap10_auto_noofs_2.map
notebooks/03_PopGen/hapmap10_auto_noofs_2.ped
notebooks/03_PopGen/hapmap10_auto_noofs_ld.bed
notebooks/03_PopGen/hapmap10_auto_noofs_ld.bim
notebooks/03_PopGen/hapmap10_auto_noofs_ld.fam
notebooks/03_PopGen/hapmap10_auto_noofs_ld.map
notebooks/03_PopGen/hapmap10_auto_noofs_ld.ped
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.map
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.ped
notebooks/03_PopGen/hapmap1_auto.map
notebooks/03_PopGen/hapmap1_auto.ped
notebooks/03_PopGen/hapmap3_r2_b36_fwd.consensus.qc.poly.map
notebooks/03_PopGen/hapmap3_r2_b36_fwd.consensus.qc.poly.ped
notebooks/03_PopGen/keep.prune.in
notebooks/03_PopGen/keep.prune.out
notebooks/03_PopGen/relationships_w_pops_121708.txt
notebooks/03_PopGen/hapmap10.gp
notebooks/03_PopGen/hapmap10.pops
notebooks/03_PopGen/hapmap10_auto.gp
notebooks/03_PopGen/hapmap10_auto.pops
notebooks/03_PopGen/hapmap10_auto_noofs_2.gp
notebooks/03_PopGen/hapmap10_auto_noofs_2.gp.IN2
notebooks/03_PopGen/hapmap10_auto_noofs_2.gp.INF
notebooks/03_PopGen/hapmap10_auto_noofs_2.pops
notebooks/03_PopGen/hapmap10_auto_noofs_ld.gp
notebooks/03_PopGen/hapmap10_auto_noofs_ld.pops
notebooks/03_PopGen/hapmap1_auto.gp
notebooks/03_PopGen/hapmap1_auto.pops
notebooks/03_PopGen/hapmap10_auto_noofs_2.gp.FST
notebooks/03_PopGen/hapmap10_auto_noofs_2.gp.ST2
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.eval
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.evec
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.geno
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.ind
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.param
notebooks/03_PopGen/hapmap10_auto_noofs_ld_12.snp


notebooks/05_Phylo/other.fasta
notebooks/05_Phylo/sample.fasta
notebooks/05_Phylo/ebov.fasta
notebooks/05_Phylo/ebov_2007.fasta
notebooks/05_Phylo/ebov_2014.fasta
notebooks/05_Phylo/L.fasta
notebooks/05_Phylo/L_P.fasta
notebooks/05_Phylo/NP.fasta
notebooks/05_Phylo/NP_P.fasta
notebooks/05_Phylo/VP35.fasta
notebooks/05_Phylo/VP35_P.fasta
notebooks/05_Phylo/VP40.fasta
notebooks/05_Phylo/VP40_P.fasta
notebooks/05_Phylo/L_P_align.fasta
notebooks/05_Phylo/L_align.fasta
notebooks/05_Phylo/NP_P_align.fasta
notebooks/05_Phylo/NP_align.fasta
notebooks/05_Phylo/VP35_P_align.fasta
notebooks/05_Phylo/VP35_align.fasta
notebooks/05_Phylo/VP40_P_align.fasta
notebooks/05_Phylo/VP40_align.fasta
notebooks/05_Phylo/align.fasta
notebooks/05_Phylo/trim.fasta
notebooks/05_Phylo/bp_rx/
notebooks/05_Phylo/ebola_simple.nex
notebooks/05_Phylo/my_ebola.nex
notebooks/05_Phylo/trim.fasta.reduced

notebooks/06_Prot/1olg.fasta
notebooks/06_Prot/1tup.cif
notebooks/06_Prot/1tup.fasta
notebooks/06_Prot/1ycq.fasta
notebooks/06_Prot/pdb1olg.ent
notebooks/06_Prot/pdb1tup.ent
notebooks/06_Prot/pdb1ycq.ent

notebooks/08_Advanced/1tup.cif
notebooks/08_Advanced/ag1000g.phase1.ar3.pass.3L.h5
notebooks/08_Advanced/geno.parquet
notebooks/08_Advanced/pdb1tup.ent

notebooks/09_Other/data
notebooks/09_Other/*qza
notebooks/09_Other/tree.nwk
notebooks/09_Other/sample?metadata.tsv
notebooks/09_Other/integrated_call_samples.20101123.ped
notebooks/09_Other/output.SHAPEIT.20140226.chr20.wgs_sites.haps
notebooks/09_Other/output.SHAPEIT.20140226.chr20.wgs_sites.haps.sample

notebooks/10_ML/ag1000g.crosses.phase1.ar3sites.3L.h5